@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prata:wght@400;700&display=swap');

body {
  font-family: 'Prata', serif; /* Yalnızca gerekli fontu tanımlayın */
}

.grayscale {
  filter: grayscale(100%);
}

.brightness-50 {
  filter: brightness(50%);
}

.blur {
  filter: blur(5px); /* Bulanıklık miktarını ayarlayın */
}

/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #00000080; /* Siyah arka plan, %50 şeffaflık */
    color: rgb(255, 255, 255); /* Yazı rengi */
    padding: 20px 0;
    z-index: 1000; /* Navbar'ın diğer içeriklerin üstünde kalmasını sağlar */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    color: rgb(255, 255, 255); /* Yazı rengi */
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-item a:hover {
    text-decoration: underline;
  }
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
  }



/*skills*/

  .general-skill {
    transform: translateX(95px);
}

.general-skill div {
    margin-bottom: 10px;
    
  
}

.container {
    width: 35%;
    background-color: #ddd;
    border-radius: 20px;
    
}

.skills {
    text-align: right;
    padding: 0 10px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(220, 165, 165);
}

.skills-header {
    color: white;
    font-weight: bold;
}



.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 100px; /* Space between items */
    padding: 20px;
    height: 600px;
    grid-template-columns: repeat(2, minmax(100px, 1fr)); /* Increase the minimum width */
}

  
  .project-item {
    background-color: rgba(55, 54, 54, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(220, 165, 165, 0.4);
    text-align: center;
  }
  
  .projects-header {
    color: white;
  
    font-size:30px;
}


 
  
  .project-item h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .project-item p {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  /* Optional: Increase the width of the project containers */
  .project-item {
    width: 90%; /* Adjust this value to make the containers wider */
    margin: 0 auto;
  }
  

  
  
  /* modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: rgba(243, 236, 236, 0.5);
    padding: 50px;
    border-radius: 10px;
    max-width: 500px;
    height: 350px;
    width: 100%;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-close:hover {
    color: rgb(206, 191, 191);
  }
  
  .form-group {
    margin-bottom: 0px; /* Add spacing between form groups */
  }
  .contact-form div.form-group:not(:last-child) {
    margin-right: 5px; /* Add right margin between the two input fields in the row */
  }
  
  .form-input {
    width: 100%;
    box-shadow: 0 4px 8px rgba(23, 20, 20, 0.8);
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #ccc;
    background-color: #ffffffcc; /* Slightly transparent background */
    margin-bottom: 15px; /* Add spacing between inputs */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
  }
  .submit-btn{
    color:"white";
    background-color:"gray";
    box-shadow: 0 4px 8px rgba(23, 20, 20, 0.8);
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #cfcccc;
    width: 100%;
    padding: 10px;
    
  }
  .sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    
    border-radius: 0 10px 10px 0;
  }
  
  .sidebar-icon {
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  
  